@import "tailwindcss";

.background {
  background-image: url("./assets/6A93FC8B-D044-4B73-B92F-D522724553F1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(37, 35, 35);
}

.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  background: linear-gradient(rgb(37, 35, 35), rgb(81, 77, 77), rgb(37, 35, 35));
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  border: solid;
}

.footer {
  background: linear-gradient(rgb(37, 35, 35), rgb(81, 77, 77), rgb(37, 35, 35));
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: center;
  border: solid;
}